* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #01080a;
}

main {
  width: 90%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 30px;
  padding: 2.5rem;
  align-items: center;
  background-color: #171821;
  position: fixed;
  z-index: 100;
  top: 0;
}

nav {
  display: flex;
  font-family: sans-serif;
  gap: 20%;
  margin-right: 200px;
  align-items: center;
}

nav a {
  text-decoration: none;
  transition: transform 0.5s ease;
  color: rgb(255, 255, 255);
}

nav a:hover {
  transform: scale(1.2);
  color: #fbbc42;
}

footer {
  background-color: #e76a24;
  width: 100%;              
  padding: 3rem;                
  text-align: center;       
  margin-top: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  gap: 50px; 
  font-weight: bold;
  font-size: 20px;
}

p {
  margin-top: 10px;
 }

#img {
  width: 100px;
  height: 50px;
  text-align: center;
}

.banner {
  margin-top: 80px;
  background: fixed;
}

.banner img {
  width: 100%;
  height: 400px;
}

#character {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 30px;
  margin-top: 20px;
}

.card {
  display: flex;
  align-items: center;
  background-color: #e7e5e8;
}

.card img{
  width: 150px;
  height: 300px;
}

.card-img-top {
  transition: transform 0.5s ease;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.card-body {
  background-color:rgb(39, 51, 54);
  padding: 1rem;
  display: flex;                
  flex-direction: column;        
  width: 100%;  
}

.card-text {
  color: #fbbc42;
}

.card-title {
  font-weight: bold;
  font-size: 30px;
  color: #e7e5e8;
}

.itemsFooter{
  gap: 20px; 
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.itemsFooter i {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.itemsFooter i:hover {
  transform: scale(1.2);
}